<!DOCTYPE html>
{% extends 'webhome.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <!-- Spinner End -->

        <!-- Header Start -->
            <div class="container-xxl py-5" style="height:700px;">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <h6 class="section-title text-start text-primary text-uppercase">About Us</h6>
                        <h1 class="mb-4">Welcome to <span class="text-primary text-uppercase">Brainwave</span></h1>
                        <p class="mb-4">Brainwave is an offset printing press providing complete range of high-quality printing
                            services. Brainwave employs the latest in the printing technology with creative designing and continuously
                            upgrades it to be at par with the best in the world. It is located at main road kallachi in kozhikode district.
                            With rigorous employment of quality standards at every stage of its processes, We guarantees that end product is
                            flawless and superior to its class. We can execute printing jobs right from designing to on-target precise completion of those designs;
                            relieving a client from first outsourcing design and then placing orders for printing.
                        The state-of-the-art pre-press, press and post-press machineries are capable of meeting all the packaging and commercial printing requirements
                          of wide spectrum of companies. Brainwave, with its printing and packaging facility can handle bulk orders as
                          well as specialty works like binding of books and complex boxes. Today, Brainwave, a pioneer printing house,
                          has several satisfied customers in our area from Pharmaceutical, Food, Cosmetic, Telecommunication, Banks and many other sectors. </p>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/vcard.png' %}" style="margin-top: 25%; visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="{% static 'img/prnt.jpg' %}" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/pr.jpg' %}" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="{% static 'img/graphic-design.png' %}" style="visibility: visible; animation-delay: 0.7s; animation-name: zoomIn;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top" style="display: none;"><i class="bi bi-arrow-up"></i></a>



</body>
</html>
{% endblock %}