<!DOCTYPE html>
{% extends 'webhome.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="border:2px solid blue;color:white;text-align:center;background-color:#000066;margin-top:30px;">Our Works</h1><br>


                <div class="row" style="margin-top:10px;margin-left:50px;margin-bottom:150px;">
                        {% for i in gal %}
                        <div id="imgdiv" class="col-lg-3 col-md-6 col-sm-6" style="margin-top:5px;margin-left:60px;">


                                   <div class="div1" style="width:290px;height:290px;background-color:white;border:2px solid black;border-radius:20px;"> <a href="">
                                       <img src="{{i.Image.url}}" width="250px" height="250px" style="padding-left:30px;padding-top:20px;"></a>

                               </div>
                        </div>
                        {% endfor %}

                    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script>
        $(document).ready(function(){
            $(".row").mouseenter(function(){
                $(this).css("background-color","#000066")
            })
            $(".row").mouseleave(function(){
                $(this).css("background-color","#fff")
            })
            $(".div1").mouseenter(function(){
                $(this).css("background-color","orange")
            })
            $(".div1").mouseleave(function(){
                $(this).css("background-color","#fff")
            })
        })
    </script>


</body>
</html>
{% endblock %}