<!DOCTYPE html>
{% extends 'webhome.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main" class="inside" style="margin-left:150px;margin-top:100px;margin-right:150px;color:black;">
        	<div id="page_type" class="internal minisite typography">
				<div id="minisite-layout">

						<div class="minisite-content">
							<h1>Offset Printing Service</h1>
		<p >Your printed materials set the tone for your company’s image. A strong, clear message
			paired with brilliantly produced colors and graphics demonstrate your commitment to a higher
			standard. If you value quality – and want to prove it to your prospects, customers, and employees –
			consider our offset printing service for your communications needs.</p>
							<p >&nbsp;</p>
							<h2 ><span >
								What is offset printing?</span></h2><br>
								<p>Offset printing service is a multi-step technique using metal plates that are typically made of aluminum. This method gets its name from the process of “offsetting” an image onto cylinders during the printing stage. If you imagine the churning of a newspaper press, these plates act similarly. They transfer your text and imagery onto a rubber blanket, and then onto paper sheets. Our modern, state-of-the-art pressroom generates these sheets at a rapid rate of up to 18,000 per hour.</p>
<li>Sales brochures</li>
<li>Posters</li>
<li>Magazines</li>
<li>Books</li>
<li>Stationery</li>
<li>Leaflets</li>
<li>Postcards</li>
<li>Flyers</li>
</ul><p>
						</p></div></div></div></div>
</body>
</html>
{% endblock %}