<!DOCTYPE html>
{% extends 'AdminHome.html' %}
{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'assets/style2.css' %}">
</head>
<body>
<div class="card" style="border:2px solid black;  ">
    <div class="card-body" >
        <div style="height:100px;border:hidden;width:100%;">
            <h1 style="color:rgb(28, 4, 92);font-family: 'Times New Roman', Times, serif;
            font-weight: bold;padding-top:10px;text-align:center;">
            Employee Registration</h1></div>
        <form style="margin-left:120px;" class="form-inline" method="post" action="{% url 'saveemployee' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="empname" type="text" class="form-field" placeholder="Employee Name"><br>
            <input name="mobile" type="number" class="form-field" placeholder="Mobile Number"><br>
            <input name="email" type="email" class="form-field" placeholder="Email ID "><br>
            <input name="salary" type="number" class="form-field" placeholder="Salary"><br>
            <button style="width:500px;" class="form-field" type="button"><input name="simage" type="file"></button><br>
            <button style="margin-top:50px;  background-color: purple;height:50px;" type="submit" class="inpbutton">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
{% endblock %}