<!DOCTYPE html>
{% extends 'AdminHome.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

                <h1 style="color:rgb(28, 4, 92);font-family: 'Times New Roman', Times, serif;
            font-weight: bold;padding-top:10px;text-align:center;">
            WORKS GALLERY</h1><br><br>
                <div class="row">
                        {% for i in gal %}
                        <div class="col-lg-3 col-md-6 col-sm-6" style="margin-top:30px;border:2px solid black;margin-left:60px;">


                                   <div> <a href=""> <img src="{{i.Image.url}}" width="250px" height="250px"></a>

                               </div>
                        </div>
                        {% endfor %}
<!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                            <div class="product__item">-->
<!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-2.jpg">-->
<!--                                    <ul class="product__item__pic__hover">-->
<!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product__item__text">-->
<!--                                    <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                                    <h5>$30.00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                            <div class="product__item">-->
<!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-3.jpg">-->
<!--                                    <ul class="product__item__pic__hover">-->
<!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product__item__text">-->
<!--                                    <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                                    <h5>$30.00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                            <div class="product__item">-->
<!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-4.jpg">-->
<!--                                    <ul class="product__item__pic__hover">-->
<!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product__item__text">-->
<!--                                    <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                                    <h5>$30.00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                            <div class="product__item">-->
<!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-5.jpg">-->
<!--                                    <ul class="product__item__pic__hover">-->
<!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product__item__text">-->
<!--                                    <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                                    <h5>$30.00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                            <div class="product__item">-->
<!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-6.jpg">-->
<!--                                    <ul class="product__item__pic__hover">-->
<!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product__item__text">-->
<!--                                    <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                                    <h5>$30.00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                            <div class="product__item">-->
<!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-7.jpg">-->
<!--                                    <ul class="product__item__pic__hover">-->
<!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product__item__text">-->
<!--                                    <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                                    <h5>$30.00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                            <div class="product__item">-->
<!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-8.jpg">-->
<!--                                    <ul class="product__item__pic__hover">-->
<!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product__item__text">-->
<!--                                    <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                                    <h5>$30.00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                            <div class="product__item">-->
<!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-9.jpg">-->
<!--                                    <ul class="product__item__pic__hover">-->
<!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product__item__text">-->
<!--                                    <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                                    <h5>$30.00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                            <div class="product__item">-->
<!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-10.jpg">-->
<!--                                    <ul class="product__item__pic__hover">-->
<!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product__item__text">-->
<!--                                    <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                                    <h5>$30.00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                            <div class="product__item">-->
<!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-11.jpg">-->
<!--                                    <ul class="product__item__pic__hover">-->
<!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product__item__text">-->
<!--                                    <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                                    <h5>$30.00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                            <div class="product__item">-->
<!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-12.jpg">-->
<!--                                    <ul class="product__item__pic__hover">-->
<!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="product__item__text">-->
<!--                                    <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                                    <h5>$30.00</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>


</body>
</html>
{% endblock %}