<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>VIEW WORKS</h1><br>
    <a class="nav-link" href="{% url 'adminhome' %}">
        <span class="menu-title" style="font-size:14pt;color:purple; font-weight: bold;margin-left: 25px;">HOME</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a><br><br>
    <table width="100%">
        <tr style="font-size: 14pt;color: brown;">
            <td>DATE</td>
            <td>CUSTOMER</td>
            <td>MOBILE</td>
            <td>EMAIL</td>
            <td>CONTENT</td>
            <td>IMAGE</td>
            <td>SERVICE</td>
            <td>QUANTITY</td>
            <td>OPTIONS</td>
            <td></td>
            

        </tr>
{% for i in work %}
        <tr>
            <td>{{i.Date}}</td>
            <td>{{i.Customer}}</td>
            <td>{{i.Mobile}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.Content}}</td>
            <td><a href="{{i.ContentImage.url}}"><img src="{{i.ContentImage.url}}" width="100px" height="100px"></a></td>
            <td>{{i.Service}}</td>
            <td>{{i.quantity}}</td>
            <td style="background-color: rgb(229, 238, 111)
            ;">
                
                    
                    
                      <a class="dropdown-item" href="#"><img src="{% static 'assets\img\edit.png' %}" width="25px" height="25px"></a>
                      <a class="dropdown-item" href="#"><img src="{% static 'assets\img\dlt.png' %}" width="25px" height="25px"></a>
                      <!-- <a class="dropdown-item" href="#"><img src="{% static 'assets\img\vv.png' %}" width="25px" height="25px"></a> -->
                    
                

            </td>
            <form method="post" action="{% url 'viewbill' dataid=i.id %}">
                {% csrf_token %}
            <td><input type="text" value="{{am}}" placeholder="Enter Amount" name="amt"><br>
            <button type="submit">Save</button>
            </td>
</form>
        </tr>
        {% endfor %}
    </table><br><br>
    <a class="nav-link" href="{% url 'viewdata' %}">
        <span class="menu-title" style="font-size:14pt;margin-left: 400px; color:purple; font-weight: bold;margin-left: 25px;">BACK</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a><br><br>
      
     
</body>
<style>
table{
    border: 1px solid black;
    
}
td{
    border: 1px solid black;
    height:60px;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    width: 10%;
} 
td{
    border: 1px solid black;
    
}
h1{
    text-align: center;
    color: blue;
}   
</style>
</html>
